In [2]:
import pandas as pd

In [6]:
df = pd.read_excel('~/Desktop/Baker/github/CS3950_big_data_analytics/module_3/lab_6/Lab 6 - Chipotle.xls', engine='xlrd')

In [8]:
df.head()

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,1,Izze,[Clementine],3.39
2,2,1,1,Nantucket Nectar,[Apple],3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [12]:
df['item_price'] = df['item_price'].replace(r'[\$,]', '', regex=True).astype(float)

In [14]:
chicken_items = df[df['item_name'].str.contains('chicken', case=False, na=False)]

In [16]:
avg_chicken_price = chicken_items['item_price'].mean()

In [18]:
print(f"Average price of an item with chicken: ${avg_chicken_price:.2f}")

Average price of an item with chicken: $10.13

In [20]:
steak_items = df[df['item_name'].str.contains('steak', case=False, na=False)]

In [22]:
avg_steak_price = steak_items['item_price'].mean()

In [24]:
print(f"Average price of an item with steak: ${avg_steak_price:.2f}")

Average price of an item with steak: $10.52

In [26]:
chicken_revenue = chicken_items['item_price'].sum()

In [28]:
steak_revenue = steak_items['item_price'].sum()

In [30]:
print(f"Total revenue from chicken: ${chicken_revenue:.2f}")

Total revenue from chicken: $15808.61

In [32]:
print(f"Total revenue from steak: ${steak_revenue:.2f}")

Total revenue from steak: $7384.26

In [34]:
if chicken_revenue > steak_revenue:
    print("Chicken produced more revenue.")
elif steak_revenue > chicken_revenue:
    print("Steak produced more revenue.")
else:
    print("Chicken and steak produced the same revenue.")

Chicken produced more revenue.

In [50]:
total_missing = df.isnull().sum().sum()

In [52]:
print(total_missing)

1246

In [66]:
missing_per_column = df.isnull().sum()

In [62]:
print(f"Total missing values in dataset: {total_missing}\n")

Total missing values in dataset: 1246

In [72]:
print(f'Missing values by column:\n{missing_per_column}')

Missing values by column:
Unnamed: 0               0
order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64