In [5]:
import pandas as pd

In [7]:
import numpy as np

In [9]:
df = pd.read_excel("/Users/lotfey/Desktop/Baker/github/CS3950_big_data_analytics/module_4/lab_7/Lab 7 - Cancer.xls")

In [13]:
df.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [15]:
df.dtypes

patient_id                 int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

In [17]:
df.describe()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bland_chromatin,normal_nucleoli,mitoses
count,6.990000e+02,698.000000,698.000000,699.000000,699.000000,699.000000,695.000000,698.000000,699.000000
mean,1.071704e+06,4.416905,3.137536,3.207439,2.793991,3.216023,3.447482,2.868195,1.589413
std,6.170957e+05,2.817673,3.052575,2.971913,2.843163,2.214300,2.441191,3.055647,1.715078
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,3.500000,4.000000,5.000000,4.000000,1.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [21]:
df_grb = df.groupby(['class', 'doctor_name'])

In [23]:
df_grb["clump_thickness"].mean()

class      doctor_name
benign     Dr. Doe        2.637795
           Dr. Lee        2.983471
           Dr. Smith      3.098039
           Dr. Wong       3.166667
malignant  Dr. Doe        7.586207
           Dr. Lee        6.600000
           Dr. Smith      7.356164
           Dr. Wong       7.265306
Name: clump_thickness, dtype: float64

In [37]:
missing_summary = df.isnull().sum()

In [41]:
missing_summary[missing_summary > 0]

clump_thickness         1
cell_size_uniformity    1
bare_nuclei             2
bland_chromatin         4
normal_nucleoli         1
dtype: int64

In [45]:
df_clean_rows = df.dropna()

In [47]:
df.nunique()

patient_id               645
clump_thickness           10
cell_size_uniformity      10
cell_shape_uniformity     10
marginal_adhesion         10
single_ep_cell_size       10
bare_nuclei               11
bland_chromatin           10
normal_nucleoli           10
mitoses                    9
class                      2
doctor_name                4
dtype: int64

In [51]:
# The patient_id column contains 645 unique entries.
# The features such as clump_thickness, cell_size_uniformity, and related attributes each have between 9 and 11 unique values
# The class column has only 2 unique values.

In [57]:
duplicate_ids = df[df.duplicated(subset='patient_id', keep=False)]

In [63]:
duplicate_counts = duplicate_ids['patient_id'].value_counts()

In [65]:
duplicate_counts

patient_id
1182404    6
1276091    5
1198641    3
1017023    2
798429     2
493452     2
1114570    2
1293439    2
734111     2
1299596    2
1238777    2
1299924    2
1320077    2
769612     2
1061990    2
1240603    2
1321942    2
695091     2
1277792    2
1339781    2
1354840    2
466906     2
654546     2
822829     2
704097     2
733639     2
1168736    2
1070935    2
1100524    2
1105524    2
1115293    2
1116116    2
1116192    2
1143978    2
1158247    2
1171710    2
1033078    2
1173347    2
1174057    2
1212422    2
1218860    2
320675     2
385103     2
411453     2
560680     2
897471     2
Name: count, dtype: int64

In [67]:
# Identify the most frequently duplicated patient_id
most_frequent_id = duplicate_counts.idxmax()
most_frequent_count = duplicate_counts.max()

In [69]:
most_frequent_count

6

In [71]:
# Remove the patients that show up more than two times
id_counts = df['patient_id'].value_counts()
valid_ids = id_counts[id_counts <= 2].index
df_filtered = df[df['patient_id'].isin(valid_ids)]
df_filtered

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong
...,...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3.0,1.0,1,1,3,2,1.0,1.0,1,benign,Dr. Lee
695,841769,2.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Smith
696,888820,5.0,10.0,10,3,7,3,8.0,10.0,2,malignant,Dr. Lee
697,897471,4.0,8.0,6,4,3,4,10.0,6.0,1,malignant,Dr. Lee
698,897471,4.0,8.0,8,5,4,5,10.0,4.0,1,malignant,Dr. Wong

In [79]:
categorical_df = df[['patient_id', 'doctor_name']].copy()
categorical_df['doctor_count'] = 1
one_hot_df = categorical_df.pivot_table( index='patient_id', columns='doctor_name', values='doctor_count', fill_value=0 ).reset_index()

In [81]:
merged_df = pd.merge(df, one_hot_df, on='patient_id', how='left')

In [83]:
merged_df.head(15)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong,0.0,0.0,0.0,1.0
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,Dr. Smith,0.0,0.0,1.0,0.0
6,1018099,1.0,NaN,1,1,2,10,3.0,1.0,1,benign,Dr. Doe,1.0,0.0,0.0,0.0
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
8,1033078,2.0,1.0,1,1,2,1,1.0,1.0,5,benign,Dr. Smith,1.0,0.0,1.0,0.0
9,1033078,4.0,2.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe,1.0,0.0,1.0,0.0
10,1035283,1.0,1.0,1,1,1,1,3.0,1.0,1,benign,Dr. Doe,1.0,0.0,0.0,0.0
11,1036172,2.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
12,1041801,NaN,3.0,3,3,2,3,4.0,4.0,1,malignant,Dr. Smith,0.0,0.0,1.0,0.0
13,1043999,1.0,1.0,1,1,2,3,3.0,1.0,1,benign,Dr. Wong,0.0,0.0,0.0,1.0
14,1044572,8.0,7.0,5,1,7,9,5.0,5.0,4,malignant,Dr. Doe,1.0,0.0,0.0,0.0

In [85]:
doctors_one_hot_encoded = pd.pivot_table( categorical_df, index=categorical_df.index, columns=['doctor_name'], values=['doctor_count'] )

In [87]:
doctors_one_hot_encoded = doctors_one_hot_encoded.fillna(0)

In [89]:
doctors_one_hot_encoded.columns = doctors_one_hot_encoded.columns.get_level_values(1)

In [91]:
doctors_one_hot_encoded.head(15)

doctor_name  Dr. Doe  Dr. Lee  Dr. Smith  Dr. Wong
0                1.0      0.0        0.0       0.0
1                0.0      0.0        1.0       0.0
2                0.0      1.0        0.0       0.0
3                0.0      0.0        1.0       0.0
4                0.0      0.0        0.0       1.0
5                0.0      0.0        1.0       0.0
6                1.0      0.0        0.0       0.0
7                0.0      0.0        1.0       0.0
8                0.0      0.0        1.0       0.0
9                1.0      0.0        0.0       0.0
10               1.0      0.0        0.0       0.0
11               0.0      0.0        1.0       0.0
12               0.0      0.0        1.0       0.0
13               0.0      0.0        0.0       1.0
14               1.0      0.0        0.0       0.0

In [107]:
try:
    doctors_one_hot_encoded.columns = doctors_one_hot_encoded.columns.droplevel()
except ValueError:
    # Column index is not a MultiIndex, so no action is needed
    pass

In [109]:
doctors_one_hot_encoded.head(15)

doctor_name  Dr. Doe  Dr. Lee  Dr. Smith  Dr. Wong
0                1.0      0.0        0.0       0.0
1                0.0      0.0        1.0       0.0
2                0.0      1.0        0.0       0.0
3                0.0      0.0        1.0       0.0
4                0.0      0.0        0.0       1.0
5                0.0      0.0        1.0       0.0
6                1.0      0.0        0.0       0.0
7                0.0      0.0        1.0       0.0
8                0.0      0.0        1.0       0.0
9                1.0      0.0        0.0       0.0
10               1.0      0.0        0.0       0.0
11               0.0      0.0        1.0       0.0
12               0.0      0.0        1.0       0.0
13               0.0      0.0        0.0       1.0
14               1.0      0.0        0.0       0.0

In [111]:
combined_df = pd.merge( df, doctors_one_hot_encoded, left_index=True, right_index=True, how='left' )

In [113]:
combined_df.head()

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong,0.0,0.0,0.0,1.0

In [115]:
combined_df = combined_df.drop(columns=['doctor_name'])

In [117]:
combined_df.head(15)

,patient_id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,Dr. Doe,Dr. Lee,Dr. Smith,Dr. Wong
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,1.0,0.0,0.0,0.0
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,0.0,0.0,1.0,0.0
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,0.0,1.0,0.0,0.0
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,0.0,0.0,1.0,0.0
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,0.0,0.0,0.0,1.0
5,1017122,8.0,10.0,10,8,7,10,9.0,7.0,1,malignant,0.0,0.0,1.0,0.0
6,1018099,1.0,NaN,1,1,2,10,3.0,1.0,1,benign,1.0,0.0,0.0,0.0
7,1018561,2.0,1.0,2,1,2,1,3.0,1.0,1,benign,0.0,0.0,1.0,0.0
8,1033078,2.0,1.0,1,1,2,1,1.0,1.0,5,benign,0.0,0.0,1.0,0.0
9,1033078,4.0,2.0,1,1,2,1,2.0,1.0,1,benign,1.0,0.0,0.0,0.0
10,1035283,1.0,1.0,1,1,1,1,3.0,1.0,1,benign,1.0,0.0,0.0,0.0
11,1036172,2.0,1.0,1,1,2,1,2.0,1.0,1,benign,0.0,0.0,1.0,0.0
12,1041801,NaN,3.0,3,3,2,3,4.0,4.0,1,malignant,0.0,0.0,1.0,0.0
13,1043999,1.0,1.0,1,1,2,3,3.0,1.0,1,benign,0.0,0.0,0.0,1.0
14,1044572,8.0,7.0,5,1,7,9,5.0,5.0,4,malignant,1.0,0.0,0.0,0.0

In [119]:
def celltypelabel(x):
    if (x['cell_size_uniformity'] > 5) & (x['cell_shape_uniformity'] > 5):
        return 'normal'
    else:
        return 'abnormal'

In [121]:
combined_df['cell_type'] = combined_df.apply(celltypelabel, axis=1)

In [125]:
combined_df[['cell_size_uniformity', 'cell_shape_uniformity', 'cell_type']].head(15)

    cell_size_uniformity  cell_shape_uniformity cell_type
0                    1.0                      1  abnormal
1                    4.0                      4  abnormal
2                    1.0                      1  abnormal
3                    8.0                      8    normal
4                    1.0                      1  abnormal
5                   10.0                     10    normal
6                    NaN                      1  abnormal
7                    1.0                      2  abnormal
8                    1.0                      1  abnormal
9                    2.0                      1  abnormal
10                   1.0                      1  abnormal
11                   1.0                      1  abnormal
12                   3.0                      3  abnormal
13                   1.0                      1  abnormal
14                   7.0                      5  abnormal

In [127]:
combined_df['cell_type_label'] = combined_df.apply(lambda x: celltypelabel(x), axis=1)

In [129]:
combined_df[['cell_size_uniformity', 'cell_shape_uniformity', 'cell_type_label']].head(15)

    cell_size_uniformity  cell_shape_uniformity cell_type_label
0                    1.0                      1        abnormal
1                    4.0                      4        abnormal
2                    1.0                      1        abnormal
3                    8.0                      8          normal
4                    1.0                      1        abnormal
5                   10.0                     10          normal
6                    NaN                      1        abnormal
7                    1.0                      2        abnormal
8                    1.0                      1        abnormal
9                    2.0                      1        abnormal
10                   1.0                      1        abnormal
11                   1.0                      1        abnormal
12                   3.0                      3        abnormal
13                   1.0                      1        abnormal
14                   7.0                      5        abnormal